
#today,
#forecast {
    width: 250px;
    height: auto;
    border: 2px solid grey;
    padding: 10px;
    background-color: lightblue;
}
.styles {
    width: auto;
    height: auto;
    border: 2px solid grey;
    padding: 10px;
    background-color: lightblue;
}


.floatRight {
    float: right;
}

.history {
    margin-left: 15px;
}

/* .favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
} */

.center{
    justify-content: center;
    text-align: center;
}

.giveMeSomeRoom {
    margin-top: 15px;
}


.lineUp {
    margin-left: 10vh;
    margin-right: 10vh;
}

.scroll{
    list-style:none;
    max-height:200px;
    height: 200px;
    margin:0;
    overflow:auto;
    padding:0;
    text-indent:10px;
    
  }